
table.display-woocommerce-orders {
    width: 100% !important;
}

table.display-woocommerce-orders th, table.display-woocommerce-orders td {
    text-align: left;
    padding: 6px;
}

div.container.display-woocommerce-orders {
    overflow-x: auto !important;
}